@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.eot');
	src: local('Gilroy Regular'), local('Gilroy-Regular'),
	url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Regular.woff') format('woff'),
	url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Bold.eot');
	src: local('Gilroy Bold'), local('Gilroy-Bold'),
	url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Bold.woff') format('woff'),
	url('../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Black.eot');
	src: local('Gilroy Black'), local('Gilroy-Black'),
	url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gilroy-Black.woff') format('woff'),
	url('../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Galien';
	src: url('../fonts/Galien-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;

	margin: 0px;
}




.content {
	min-height: 100vh;
}



iframe{
	display: block;
}

.title-2 {
	margin: 0px;
	font-size: 28px;
	line-height: 36px;
	font-weight: 600;
	letter-spacing: 0.05em;
	&.title-2_blue {
		color: $colorBlue_2;
	}
	&.title-2_white {
		color: $colorWhite;
	}
	@include lg {
		font-size: 36px;
		line-height: 46px;
	}
}
.title-1 {
	font-size: 44px;
	line-height: 74px;
	font-weight: 600;
	letter-spacing: 0.04em;
	&.title-1_white {
		color: $colorWhite;
	}
}
.title-min {
	display: block;
	font-size: 20px;
	line-height: 30px;
	font-weight: 600;
	letter-spacing: 0.05em;
	padding-bottom: 24px;
	&.title-min_white {
		color: #fff;
	}
	&.title-1_blue-1 {
		color: $colorBlue_1;
	}
}
.text {
	margin: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.05em;
	&.text_blue {
		color: $colorBlue_4;
		opacity: 0.6;
	}
	&.text_white {
		color: $colorWhite;
		opacity: 0.6;
	}
	&.text_size-20 {
		font-size: 20px;
		line-height: 30px;
	}
}
.p-b-100 {
	padding-bottom: 50px;
	@include lg {
		padding-bottom: 100px;
	}
}
.pb-93-m-0 {
	padding-bottom: 0px;
	@include lg {
		padding-bottom: 93px;
	}
}
.p-b-150 {
	padding-bottom: 50px;
	@include lg {
		padding-bottom: 150px;
	}
}
