.form {
	padding: 25px;
	background: #FFFFFF;
	box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
	border-radius: 10px;
	.form__block {
		padding-bottom: 32px;
		&.form__block_last {
			padding-bottom: 0px;
		}
	}
	.form__title {
		margin-bottom: 48px;
	}
	.form__subtitle {
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.04em;
		color: $colorBlue_1;
		opacity: 0.8;
		padding-bottom: 8px;
	}
	.form__input {
		width: 100%;
		opacity: 0.4;
		border: 1px solid transparentize($colorBlue_3, 0.6);
		box-sizing: border-box;
		border-radius: 10px;
		padding: 21px 42px;

		font-style: normal;
		font-weight: 300;
		font-size: 16px;
		line-height: 30px;
		letter-spacing: 0.04em;
		color: $colorBlue_4;
		opacity: 1;

		transition: border $mainTransition;

		&::-webkit-input-placeholder {
			color: $colorBlue_1;
			opacity: 0.2;
		}
		&:-moz-placeholder {
			color: $colorBlue_1;
			opacity: 0.2;
		}
		&::-moz-placeholder {
			color: $colorBlue_1;
			opacity: 0.2;
		}
		&:-ms-input-placeholder {
			color: $colorBlue_1;
			opacity: 0.2;
		}
		&.form__input_area {
			resize: none;
			min-height: 144px;
		}
		&:focus {
			outline: none;
			border-color: $colorBlue_3;
			transition: border $mainTransition;
		}
	}
	@include lg {
		padding: 56px;
	}
}
