mixin header-area(cls)
	header(class=cls)
		div(class="header__content")
			a(class="logo" href="#")
				<svg width="48" height="32" viewBox="0 0 48 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<circle class="logo-svg__circle-first" cx="16" cy="16" r="15.5" fill="#316099" stroke="#316099"/>
					<circle cx="32" cy="16" r="15" fill="white" stroke="#316099" stroke-width="2"/>
					<path d="M39.3 22L34.38 8H30.96L26.06 22H29.04L29.88 19.48H35.46L36.3 22H39.3ZM32.68 11.18L34.6 16.9H30.76L32.68 11.18Z" fill="#316099"/>
					<path d="M39.3 22V23H40.7114L40.2434 21.6684L39.3 22ZM34.38 8L35.3234 7.66845L35.0885 7H34.38V8ZM30.96 8V7H30.2505L30.0161 7.66965L30.96 8ZM26.06 22L25.1161 21.6696L24.6505 23H26.06V22ZM29.04 22V23H29.7608L29.9887 22.3162L29.04 22ZM29.88 19.48V18.48H29.1592L28.9313 19.1638L29.88 19.48ZM35.46 19.48L36.4087 19.1638L36.1808 18.48H35.46V19.48ZM36.3 22L35.3513 22.3162L35.5792 23H36.3V22ZM32.68 11.18L33.628 10.8618L32.68 8.03748L31.732 10.8618L32.68 11.18ZM34.6 16.9V17.9H35.9905L35.548 16.5818L34.6 16.9ZM30.76 16.9L29.812 16.5818L29.3695 17.9H30.76V16.9ZM40.2434 21.6684L35.3234 7.66845L33.4366 8.33155L38.3566 22.3316L40.2434 21.6684ZM34.38 7H30.96V9H34.38V7ZM30.0161 7.66965L25.1161 21.6696L27.0039 22.3304L31.9039 8.33035L30.0161 7.66965ZM26.06 23H29.04V21H26.06V23ZM29.9887 22.3162L30.8287 19.7962L28.9313 19.1638L28.0913 21.6838L29.9887 22.3162ZM29.88 20.48H35.46V18.48H29.88V20.48ZM34.5113 19.7962L35.3513 22.3162L37.2487 21.6838L36.4087 19.1638L34.5113 19.7962ZM36.3 23H39.3V21H36.3V23ZM31.732 11.4982L33.652 17.2182L35.548 16.5818L33.628 10.8618L31.732 11.4982ZM34.6 15.9H30.76V17.9H34.6V15.9ZM31.708 17.2182L33.628 11.4982L31.732 10.8618L29.812 16.5818L31.708 17.2182Z" fill="#316099"/>
				</svg>
			div(class="burger" id="burger-btn")
				img(src="images/burger.svg" alt="img")
		div(class="menu" id="site-menu")
			div(class="menu__content")
				div(class="menu__close")
					span
						| Закрыть
				nav(class="menu__list")
					each item in menuItems
						a(class="menu__link" href="#")
							= item
