mixin img(src, types, cls)
    picture()
        if types.length > 1
            each item in types
                //- хотел использовать webp, но все svg картинки
                //- оставил код чтобы не было просто
                source(srcset="mdn-logo.webp")
        else
            -let path = `${src}.${types[0]}`;
            img(class=cls src=path alt="img" title="img")