.btn {

	display: block;
	background: $colorBlue_4;
	box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
	border-radius: 10px;

	padding: 0px 10px;
	width: 220px;

	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 56px;
	text-align: center;
	letter-spacing: 0.04em;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;

	border: 2px solid transparent;
	transition: $mainTransition;

	&.btn_width-max {
		width: 100%;
	}
	&.btn_center-mobile {
		margin: 0 auto;
		@include lg {
			margin: unset;
		}
	}
	&:hover {
		color: $colorBlue_4;
		text-decoration: none;
		background: #fff;
		border: 2px solid $colorBlue_4;
		transition: $mainTransition;
	}
}
.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_show {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $colorBlue_5;
		border-radius: 100%;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}
