div(class="btn-to-top")
	div(class="btn-to-top__content d-flex justify-content-center align-items-center")
		svg(class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316")
			g(transform="translate(-1035.793 -4349.188)")
				g(transform="translate(1053.891 4252.049) rotate(90)")
					path(id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)")