.footer {
	.footer__line {
		height: 1px;
		width: 100%;
		background-color: transparentize(#fff,0.4);
		@include lg {
			width: 290%;
			margin-left: -200%;
		}
	}
	.footer__content {
		background: $colorBlue_2;
		@include lg {
			border-radius: 0px 200px 0px 0px;
		}
	}
	.footer__info {
		display: flex;

		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.05em;
		color: #FFFFFF;

		padding-bottom: 24px;
		span {
			margin: 0px;
			&:first-child {
				margin-right: 16px;
			}
		}
		&.footer__info_last {
			padding: 0px;
		}
	}

	.footer__link {
		text-decoration: none;
		display: block;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 0.05em;
		color: #FFFFFF;

		margin: 0px;

		transition: $mainTransition;
		&:hover {
			color: $colorBlue_4;
			text-decoration: none;
			transition: $mainTransition;
		}
	}
	.footer__nav-item {
		margin-bottom: 16px;
	}
	.footer__logo-block {
		padding-bottom: 31px;
	}
	@include lg {
		padding-right: 96px;
	}
}
.footer-line-top {
	padding: 91px 0px 96px 0px;
	.footer-line-top__title {
		padding-bottom: 32px;
		&.footer-line-top__title_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	.footer-line-top__description {
		padding-bottom: 20px;
		&.footer-line-top__description_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
		@include lg {
			padding-bottom: 0px;
		}
	}
}
.footer-line-bottom {
	padding: 97px 0px 64px 0px;
	background: $colorBlue_2;
}
.copyright {
	display: block;
	padding-top: 64px;
	margin-bottom: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 0.05em;
	color: #FFFFFF;
	opacity: 0.4;
	@include lg {
		text-align: left;
	}
}
