
/*
	- Создал только необходимое для макета
*/

.container {
	width: 100%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
	@include sm {
		max-width: 540px;
	}
	@include md {
		max-width: 720px;
	}
	@include lg {
		max-width: 940px;
	}
	// @include xl {
	// 	max-width: 1140px;
	// }
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;
}
.col, 
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, 
.col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	padding-right: 10px;
	padding-left: 10px;
}
.col {
	flex-grow: 1;
	max-width: 100%;
	&.col_flex {
		display: flex;
		flex-wrap: wrap;
	}
}
.col-lg-3 {
	@include lg {
		flex: 0 0 25%;
		max-width: 25%;
	}
}
.col-lg-4 {
	@include lg {
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}
.col-lg-5 {
	@include lg {
		flex: 0 0 41.66667%;
		max-width: 41.66667%;
	}
}
.col-lg-6 {
	@include lg {
		flex: 0 0 50%;
		max-width: 50%;
	}
}
.col-lg-7 {
	@include lg {
		flex: 0 0 58.33333%;
		max-width: 58.33333%;
	}
}
.col-lg-10 {
	@include lg {
		flex: 0 0 83.33333%;
		max-width: 83.33333%;
	}
}


.offset-lg-1 {
	@include lg {
		margin-left: 8.33333%;
	}
}
.offset-lg-2 {
	@include lg {
		margin-left: 16.66667%;
	}
}


