- var menuItems = ['About', 'What We Do', 'Project', 'How It Work With Us'];
doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
		title de-landingpage
	body
		include components/mixin/header-area.pug
		+header-area("header")
		div(class="content")
			block content
		include components/btn-to-top.pug
		script(src="js/main.min.js")
