extends innerBase.pug
block content
	include components/mixin/img.pug
	section(class="contacts")
		div(class="contacts__welcome")
			div(class="container")
				div(class="row")
					div(class="col col-lg-10")
						h1(class="title-1 title-1_white contacts__title")
							| Contact Us
						p(class="text text_white text_size-20 contacts__description")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		div(class="contacts__info")
			div(class="container")
				div(class="row")
					div(class="col col-lg-5")
							div(class="contacts__img")
								+img("images/contacts-1", ["svg"])
							div(class="contacts__block")
								span(class="title-min title-1_blue-1")
									| ADDRESS
								p(class="text text_blue")
									| Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
							div(class="contacts__block")
								span(class="title-min title-1_blue-1")
									| PHONE
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
									</svg>
									| +62-812-7313-4321
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.62 7.79C5.06 10.62 7.38 12.93 10.21 14.38L12.41 12.18C12.68 11.91 13.08 11.82 13.43 11.94C14.55 12.31 15.76 12.51 17 12.51C17.55 12.51 18 12.96 18 13.51V17C18 17.55 17.55 18 17 18C7.61 18 0 10.39 0 1C0 0.45 0.45 0 1 0H4.5C5.05 0 5.5 0.45 5.5 1C5.5 2.25 5.7 3.45 6.07 4.57C6.18 4.92 6.1 5.31 5.82 5.59L3.62 7.79Z" fill="#1F3F68"/>
									</svg>
									| +62-812-7313-4321
							div(class="contacts__block ")
								span(class="title-min title-1_blue-1")
									| ONLINE SERVICE
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M9.99 0C4.47 0 0 4.48 0 10C0 15.52 4.47 20 9.99 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 9.99 0ZM16.92 6H13.97C13.65 4.75 13.19 3.55 12.59 2.44C14.43 3.07 15.96 4.35 16.92 6ZM10 2.04C10.83 3.24 11.48 4.57 11.91 6H8.09C8.52 4.57 9.17 3.24 10 2.04ZM2.26 12C2.1 11.36 2 10.69 2 10C2 9.31 2.1 8.64 2.26 8H5.64C5.56 8.66 5.5 9.32 5.5 10C5.5 10.68 5.56 11.34 5.64 12H2.26ZM3.08 14H6.03C6.35 15.25 6.81 16.45 7.41 17.56C5.57 16.93 4.04 15.66 3.08 14ZM6.03 6H3.08C4.04 4.34 5.57 3.07 7.41 2.44C6.81 3.55 6.35 4.75 6.03 6ZM10 17.96C9.17 16.76 8.52 15.43 8.09 14H11.91C11.48 15.43 10.83 16.76 10 17.96ZM12.34 12H7.66C7.57 11.34 7.5 10.68 7.5 10C7.5 9.32 7.57 8.65 7.66 8H12.34C12.43 8.65 12.5 9.32 12.5 10C12.5 10.68 12.43 11.34 12.34 12ZM12.59 17.56C13.19 16.45 13.65 15.25 13.97 14H16.92C15.96 15.65 14.43 16.93 12.59 17.56ZM14.36 12C14.44 11.34 14.5 10.68 14.5 10C14.5 9.32 14.44 8.66 14.36 8H17.74C17.9 8.64 18 9.31 18 10C18 10.69 17.9 11.36 17.74 12H14.36Z" fill="#1F3F68"/>
									</svg>
									| www.afrianska.com
								a(class="text contacts__link" href="tel:+6281273134321")
									<svg width="20" height="16" viewBox="0 0 20 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z" fill="#1F3F68"/>
									</svg>
									| hello.afrian@gmail.com
					div(class="col col-lg-7")
						form(class="form" action="#" method="GET")
							span(class="form__title title-min title-1_blue-1")
								| SEND US MESSAGE
							div(class="form__block")
								span(class="form__subtitle")
									| Full Name
								input(class="form__input" type="text" placeholder="Your Name")
							div(class="form__block")
								span(class="form__subtitle")
									| Email
								input(class="form__input" type="email" placeholder="Your Email")
							div(class="form__block")
								span(class="form__subtitle")
									| Message
								textarea(class="form__input form__input_area"  placeholder="Your Message")
							div(class="form__block form__block_last")
								button(type="submit" class="btn btn_width-max")
									| SUBMIT
		div(class="container")
			div(class="row")
				div(class="col")
					div(class="block-map")
						iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6446.355662251436!2d61.395062498522684!3d55.163485914221226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592b57aa7b665%3A0xc4bb7184f4163f2a!2z0JTQstC-0YDQtdGGINC_0LjQvtC90LXRgNC-0LIg0Lgg0YjQutC-0LvRjNC90LjQutC-0LIg0LjQvC4g0J0uINCaLiDQmtGA0YPQv9GB0LrQvtC5!5e0!3m2!1sru!2sru!4v1599538284528!5m2!1sru!2sru" width="100%" height="480" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0")
	include components/footer-area.pug
