extends base.pug
block content
	include components/mixin/img.pug
	section(class="welcome")
		div(class="container")
			div(class="row")
				div(class="col col-lg-7")
					div(class="welcome__content")
						h1(class="welcome__title welcome__title_center-mobile pb-5")
							| New Automation<br>Tool for Your Home
						p(class="text text_blue welcome__description welcome__description_center-mobile")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.

						a(class="btn btn_center-mobile" href="#")
							| See Our Project
		+img("images/welcome-bg", ["svg"], "welcome__img d-none d-lg-block")
	section(class="service")
		div(class="container")
			div(class="row")
				div(class="col col-lg-6 pb-5 pb-lg-0")
					h2(class="title-2 title-2_blue p-b-150 service__title service__title_center-mobile")
						| What we do to help our client grow in digital era,
					div(class="row")
						div(class="col col-lg-10 offset-lg-2")
							div(class="service__container-animation")
								div(class="service__item")
									div(class="service__preview")
										+img("images/s2", ["png"])
									div(class="service__content")
										a(class="service__subtitle" href="#")
											| Make Your business To Be Better Famous In Internet
										p(class="text text_blue service__description")
											| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
										a(class="service__link" href="#")
											span
												| Learn more
											<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
											</svg>
				div(class="col col-lg-5 offset-lg-1")
					div(class="pb-93-m-0")
						div(class="service__container-animation")
							div(class="service__item")
								div(class="service__preview service__preview_margin-top")
									+img("images/s1", ["png"])
								div(class="service__content")
									a(class="service__subtitle" href="#")
										| Bring Technology To Your Comfrotable Home
									p(class="text text_blue service__description")
										| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
									a(class="service__link" href="#")
										span
											| Learn more
										<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
										</svg>
					div(class="service__container-animation")
						div(class="service__item")
							div(class="service__preview")
								+img("images/s3", ["png"])
							div(class="service__content")
								a(class="service__subtitle" href="#")
									| Build Your Digital Product That Suitable For Your Need
								p(class="text text_blue service__description")
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								a(class="service__link" href="#")
									span
										| Learn more
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M8 0L6.59 1.41L12.17 7H0V9H12.17L6.59 14.59L8 16L16 8L8 0Z" fill="#5A98D0"/>
									</svg>
	section(class="clients")
		div(class="container")
			div(class="row")
				div(class="col col-lg-4")
					h2(class="title-2 title-2_white clients__title clients__title_center-mobile")
						| Our Beloved Client
				div(class="col col-lg-7 offset-lg-1")
					p(class="text text_white clients__description clients__description_center-mobile")
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				div(class="col")
					div(class="clients__list")
						div(class="row")
							div(class="col col_flex")
								- for (var i = 1; i < 5; i++)
									div(class="clients__wrapper")
										div(class="clients__block")
											a(class="clients__link" href="#")
												| LOGO CLIENT 
												= i
						div(class="clients__line")
						div(class="row")
							div(class="col col_flex")
								- for (var i = 5; i < 8; i++)
									div(class="clients__wrapper")
										div(class="clients__block")
											a(class="clients__link" href="#")
												| LOGO CLIENT 
												= i
								div(class="clients__wrapper clients__wrapper_bg")
									div(class="clients__block")
										a(class="clients__link " href="#")
											| More Client
		include components/footer-area.pug
		
