/* INCLUD SASS */
@import "mixin/_mixin";
@import "variables/_variables";
@import "grid/_grid";
@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "footer/_footer";
@import "clients/_clients";


.welcome {
	height: 100vh;

	display: flex;
	align-items: center;

	position: relative;
	.welcome__content {
		position: relative;
		z-index: 2;
	}
	.welcome__title {
		font-family: "Galien";
		font-size: 38px;
		text-align: center;
		line-height: 116%;
		font-weight: bold;
		letter-spacing: 0.04em;
		color: $colorBlue_1;

		margin: 0px;
		padding-bottom: 32px;
		@include lg {
			text-align: left;
			font-size: 64px;
		}
		&.welcome__title_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	.welcome__img {
		display: none;
		position: absolute;
		z-index: 1;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: 1300px) {
			width: 500px;
		}
		@include lg {
			display: block;
		}
	}
	.welcome__description {
		margin: 0px;
		padding-right: 0px;
		padding-bottom: 70px;
		@include lg {
			padding-right: 100px;
		}
		&.welcome__description_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	&:after {
		position: absolute;
		content: "";
		background: linear-gradient(0deg, rgba(152, 195, 232, 1) 8.84%, rgba(152, 195, 232, 0) 31.12%);
		opacity: 0.2;
		z-index: 0;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}
}


.service {
	padding: 50px 0px;
	.service__title {
		&.service__title_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	.service__item {
		background: #FFFFFF;
		box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
		border-radius: 10px;
		margin-bottom: 70px;
		@include lg {
			margin-bottom: 0px;
		}
	}
	.service__preview {
		padding: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		&.service__preview_margin-top {
			img {
				margin-top: -72px;
			}
		}
	}
	.service__content {
		padding: 6px 48px 48px 48px;
	}
	.service__subtitle {
		text-decoration: none;
		display: block;

		font-size: 20px;
		line-height: 30px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: $colorBlue_4;
		transition: $mainTransition;
		&:hover {
			color: $colorBlue_1;
			text-decoration: none;
			transition: $mainTransition;
		}
	}
	.service__description {
		padding-top: 16px;
		padding-bottom: 32px;
		margin: 0px;
	}
	.service__link {
		text-decoration: none;
		font-size: 14px;
		line-height: 30px;
		font-weight: 600;
		letter-spacing: 0.05em;
		color: $colorBlue_4;

		transition: $mainTransition;

		display: flex;
		align-items: center;
		span {
			transition: $mainTransition;
			padding: 0px 24px 0px 0px;
		}
		svg {
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			color: $colorBlue_1;
			text-decoration: none;
			transition: $mainTransition;

			span {
				transition: $mainTransition;
				padding-right: 30px;
			}
			svg {
				path {
					fill: $colorBlue_1;
					transition: $mainTransition;
				}
			}
		}
	}
	@include lg {
		padding: 192px 0px 218px 0px;
	}
}


.contacts {
	.contacts__welcome {
		background-image: url("../images/contacts.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		display: flex;
		justify-content: center;
		align-items: center;

		padding: 50px 0px;

		@include lg {
			padding: 0px;
			height: 250px;
		}
	}
	.contacts__title {
		text-align: center;
		margin: 0px;
		padding-bottom: 16px;
	}
	.contacts__description {
		text-align: center;
	}
	.contacts__img {
		padding-top: 64px;
		padding-bottom: 50px;
			@include lg {
				padding-bottom: 70px;
			}
	}
	.contacts__info {
		padding: 50px 0px;
		@include lg {
			padding: 57px 0px 96px 0px;
		}
	}
	.contacts__block {
		padding-bottom: 40px;
		&.contacts__block_last {
			padding-bottom: 0px;
		}
	}
	.contacts__link {
		text-decoration: none;
		color: $colorBlue_1;
		transition: $mainTransition;
		opacity: 0.6;

		display: flex;
		align-items: center;

		margin-bottom: 16px;
		svg {
			opacity: 0.6;
			margin-right: 16px;
			path {
				transition: $mainTransition;
			}
		}
		&:hover {
			text-decoration: none;
			color: $colorBlue_4;
			transition: $mainTransition;
			svg {
				transition: $mainTransition;
				path {
					fill: $colorBlue_4;
					transition: $mainTransition;
				}
			}
		}
		&:last-child {
			margin: 0px;
		}
	}
}
.block-map {
	padding-bottom: 50px;
	@include lg {
		padding-bottom: 96px;
	}
}
