.header {
	padding: 20px 15px;
	position: absolute;
	z-index: 99;
	top: 0px;
	right: 0px;
	left: 0px;
	.header__content {
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 8px 0px;
	}
	&.header_inner {
		position: unset;
	}
	@include lg {
		padding: 40px 83px;
	}
}

.menu {
	position: fixed;
	cursor: pointer;
	z-index: 100;
	top: 0px;
	right: -100%;
	left: 100%;
	bottom: 0px;
	background-color: #fff;
	transition: $mainTransition;
	opacity: 0;

	display: flex;
	justify-content: flex-end;
	&.menu_active {
		opacity: 1;
		right: 0px;
		left: 0px;
		background-color: rgba(0,0,0,0.5);
		transition: $mainTransition;
	}
	.menu__content {
		background-color: #fff;
		cursor: default;

		display: flex;
		flex-direction: column;
		align-items: flex-start;

		width: 100%;
		max-width: 400px;

		padding: 25px 30px;
	}
	.menu__list {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.menu__link {
		text-decoration: none;
		font-size: 18px;
		line-height: 120%;
		color: $colorBlue_1;

		transition: $mainTransition;

		padding: 4px 0px;
		margin-bottom: 20px;
		&:hover {
			color: $colorBlue_4;
			text-decoration: none;
			transition: $mainTransition;
		}
		&:last-child {
			margin: 0px;
		}
	}
	.menu__close {
		display: inline-block;

		cursor: pointer;

		font-size: 16px;
		line-height: 120%;
		font-weight: bold;

		margin-bottom: 40px;
		span {
			margin: 0px;
		}
	}
}
.burger {
	cursor: pointer;
}
.logo {
	text-decoration: none;
	&.logo_white {
		svg {
			.logo-svg__circle-first {
				fill: $colorBlue_5;
			}
		}
	}
	.logo__title {

		display: block;
		margin: 0 0 0 15px;
		font-size: 28px;
		line-height: 46px;
		letter-spacing: 0.02em;
		color: #FFFFFF;
	}
	&.logo_flex {
		display: flex;
	}
	&:hover {
		text-decoration: none;
	}
}
