.clients {
	background: $colorBlue_4;
	padding-top: 40px;
	.clients__list {
		padding-bottom: 40px;
		.row {
			.clients__wrapper {
				flex: 0 0 100%;
				max-width: 100%;
				&.clients__wrapper_bg {
					background-color: transparentize($colorBlue_1, 0.8);
				}
				@include lg {
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
			.clients__wrapper + .clients__wrapper {
				position: relative;
				&:before {
						display: none;
					@include lg {
						position: absolute;
						content: "";
						display: block;
						top: 0px;
						bottom: 0px;
						left: -0.5px;
						width: 1px;
						background-color: $colorWhite;
					}
				}
			}
		}
		@include lg {
			padding: 110px 0 119px 0px;
		}
	}
	.clients__title {
		&.clients__title_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	.clients__description {
		&.clients__description_center-mobile {
			text-align: center;
			@include lg {
				text-align: left;
			}
		}
	}
	


	.clients__line {
		display: none;
		@include lg {
			border-bottom: 1px solid $colorWhite;
		}
	}
	.clients__block {
		padding: 41px 40px;

		display: flex;
		align-items: center;
		justify-content: center;
	}
	.clients__link {
		text-decoration: none;
		font-size: 20px;
		line-height: 46px;
		font-weight: 600;
		letter-spacing: 0.02em;
		color: #F2F2F2;
	}
	@include lg {
		padding-top: 96px;
		border-radius: 200px 0px 0px 0px;
	}
}
